* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  background-color: rgb(9, 192, 9);
  width: 80%;
  border-radius: 12px;
  margin-top: 1em;
  margin: 1.5em auto;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
}

ul {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

li {
  list-style: none;
}

li a:hover {
  background-color: white;
  color: green;
  transition: 0.6s;
}

a {
  color: white;
  text-decoration: none;
  font-size: small;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  padding: 1rem;
}
